__pycache__/
*.py[codz]
*$py.class
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.venv/
build/
site/
# *.xlsx
14bus_data/
data/bus_data/
data/raw_data.zip
data/Data_public/
*.egg-info/
examples/14bus_uc/*.png
examples/14bus_uc/*.html
examples/14bus_uc/14bus_data_assignment_resolved.yaml
.DS_Store
.codex
